<%- include("partials/header.ejs") %>

<style>
   .banner-bg{
    background-image: url('../../public/study.jpg');
    height: 600px;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}
.questions{
   box-shadow: 0 0 20px 0 rgba(72,94,116,0.7);
}
@media only screen and (max-width: 768px){
     .banner-bg{
        background-image: url('../../public/study.jpg');
        height: 250px;
        background-attachment: fixed;
        background-size: contain;
        background-repeat: no-repeat;
    }
}
</style>

<section class="banner-bg">
</section>
<h1 class="text-center mt-5">Take Current Affairs Quiz <i class="em em-smiley"></i></h1>
<div class="container d-flex flex-column justify-content-center p-5">
  <div id="prompt"></div>
  <div class="row output ">
    <div class="col-md-6 animated fadeIn">
      <div class="card question border-primary mb-3">
            <h3 class="card-header bg-primary text-white">Question 1</h3>
            <div class="card-body questions">
              <% if(question[0].includes("\n")) { %>
               <% split = question[0].split("\n"); %>                   
               <% for(i=0;i< split.length;i++){ %>
                    <p class="card-text font-weight-bold" style="font-size: 20px"><%= split[i] %></p>
                 <% } %>
                 <%  }else{ %>
                <p class="card-text font-weight-bold" style="font-size: 20px"><%= question[0] %></p>
                <%  } %>
            </div>
            <ul class="list-group list-group-flush font-weight-bold d-flex justify-content-center" style="font-size: 14px">
              <li class="list-group-item">
                <input type="radio" class="radiobtn" name="question[0]" value="A" class="text-dark"> <input class="choices w-75" type="text" value="<%= optiona[0] %>" disabled>
              </li>
              <li class="list-group-item">
                <input type="radio" class="radiobtn" name="question[0]" value="B" class="text-dark" > <input class="choices w-75" type="text" value="<%= optionb[0] %>" disabled>
              </li>
              <li class="list-group-item">
                <input type="radio" class="radiobtn" name="question[0]" value="C" class="text-dark" > <input class="choices w-75" type="text" value="<%= optionc[0] %>" disabled>
              </li>
              <li class="list-group-item">
                <input type="radio" class="radiobtn" name="question[0]" value="D" class="text-dark" > <input class="choices w-75" type="text" value="<%= optiond[0] %>" disabled>
              </li>
            </ul>
      </div>
    </div>
  </div>
  <button type="submit" id="next" class="btn btn-success mb-5 w-50">Next Question</button>
      <br>
      <button type="submit" id="submit" class="btn btn-success mb-5 w-50" style="display:none;">View Answers</button>

      <div class="card border-primary mb-3" id="card" style="display:none;">
        <h3 class="card-header bg-primary text-white">Correct Answers</h3>
        <ul class="list-group list-group-flush font-weight-bold" id="result" style="font-size: 14px">
        </ul>
      </div>  
      <div class="card border-primary mb-3" id="answers" style="display:none;">
          <h3 class="card-header bg-primary text-white">Your Answers</h3>
          <ul class="list-group list-group-flush font-weight-bold" id="displayanswers" style="font-size: 14px">
          </ul>
      </div>
</div>       
	
<script>
  $(document).ready(function(){
  questions = `<%= question %>`;
  answerkey = "<%= answers %>";
  optiona = "<%= optiona %>";
  optionb = "<%= optionb %>";
  optionc = "<%= optionc %>";
  optiond = "<%= optiond %>";
  questions = questions.toString().split(',');
  answerkey = answerkey.toString().split(',');
  optiona = optiona.toString().split(',');
  optionb = optionb.toString().split(',');
  optionc = optionc.toString().split(',');
  optiond = optiond.toString().split(',');
  
  let j = 1;
  let useranswers = new Array();

  $('#next').on('click',(e)=>{
  if(j == 4){
    nextquestion();
    $("#submit").css('display','block');
    $("#next").css('display','none');
  }else{
    nextquestion();
    j++; 
  }         
  });

  nextquestion = () =>{
    let ele = $('.radiobtn');
    let choices = $('.choices')
    for(let i=0; i< ele.length; i++){
    if(ele[i].type="radio") { 
        if(ele[i].checked) {
          console.log(i);
          useranswers.push(choices[i].value);
        }
      }
  }

    $(".output").html(`
          <div class="col-md-6 animated slideInRight">
            <div class="card question border-primary mb-3">
                  <h3 class="card-header bg-primary text-white">question ${j+1}</h3>
                  <div class="card-body questions"></div>
                  <ul class="list-group list-group-flush font-weight-bold" style="font-size: 14px">
                      <li class="list-group-item">
                        <input type="radio" class="radiobtn" name="question${j+1}" value="A" class="text-dark" > <input class="choices w-75" type="text" value="${optiona[j]}" disabled>
                      </li>
                      <li class="list-group-item">
                        <input type="radio" class="radiobtn" name="question${j+1}" value="B" class="text-dark" > <input class="choices w-75" type="text" value="${optionb[j]}" disabled>
                      </li>
                      <li class="list-group-item">
                        <input type="radio" class="radiobtn" name="question${j+1}" value="C" class="text-dark" > <input class="choices w-75" type="text" value="${optionc[j]}" disabled>
                      </li>
                      <li class="list-group-item">
                        <input type="radio" class="radiobtn" name="question${j+1}" value="D" class="text-dark" > <input class="choices w-75" type="text" value="${optiond[j]}" disabled>
                      </li>
                  </ul>
            </div>
          </div>`);
          
          if(questions[j].includes("\n")){
              split = questions[j].split("\n");                   
                for(i=0;i< split.length;i++){
                  $(".questions").append(`<p class="card-text font-weight-bold" style="font-size: 20px">${split[i]}</p>`);
                }
            }else{
              $(".questions").append(`<p class="card-text font-weight-bold" style="font-size: 20px">${questions[j]}</p>`);
            }

};


















  $("#submit").one('click',(e)=>{
    $("#card").fadeIn();
    $("#answers").fadeIn();
      for(let i = 0; i < answerkey.length; i++ ){
            var x = answerkey[i];
            let choices = $('.choices');
              switch (x) {
                case "A":
                   $("#result").append(`<li class="list-group-item">${i+1}) ${optiona[i]}</li>`);
                   break;
                case "B":
                   $("#result").append(`<li class="list-group-item">${i+1}) ${optionb[i]}</li>`);
                   break;
                case "C":
                   $("#result").append(`<li class="list-group-item">${i+1}) ${optionc[i]}</li>`);
                   break;
                case "D":
                   $("#result").append(`<li class="list-group-item">${i+1}) ${optiond[i]}</li>`);
                   break;
            }
            $("#displayanswers").append(`<li class="list-group-item">${i+1}) ${useranswers[i]}</li>`);
      }
    $("#submit").prop('disabled',true);
    console.log(useranswers);
  }); 
});
</script>
<%- include("partials/footer.ejs") %>