<%- include("partials/header.ejs") %>
<link rel="stylesheet" href="../../public/formstyles.css">

<style>
   .banner-bg{
    background-image: url('../../public/guy.jpg');
    height: 600px;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}
.questions{
   box-shadow: 0 0 20px 0 rgba(72,94,116,0.7);
}
@media only screen and (max-width: 768px){
     .banner-bg{
        background-image: url('../../public/guy.jpg');
        height: 250px;
        background-attachment: fixed;
        background-size: contain;
        background-repeat: no-repeat;
    }
}
</style>

<section class="banner-bg">
</section>
<h1 class="text-center mt-5">Current Affairs Subjective Questions <i class="em em-smiley"></i></h1>
<div class="container d-flex flex-column justify-content-center p-5">
    <div class="row">
        <% for(let i = 0; i <  data.length; i++) {  %>
         <div class="col-md-6 ">
            <div class="card questions border-primary mb-3">
                  <h3 class="card-header bg-primary text-white">question <%= i+1%></h3>
                  <div class="card-body">
                      <% if(data[i].question.includes("\n")) { %>
                        <% let split = data[i].question.split("\n"); %>
                        <% for(let j = 0; j < split.length; j++) {  %>            
                        <% split[j] = split[j].replace(/\@/g,",") %>             
                        <% split[j] = split[j].replace(/\$/g,"'") %>
                        <% split[j] = split[j].replace(/\^/g,"’") %>
                        <% split[j] = split[j].replace(/\#/g,"`") %>
                            <p class="card-text font-weight-bold" style="font-size: 20px"><%= split[j] %></p>
                        <% } %>
                      <% }else { %>
                        
                  <% data[i].question = data[i].question.replace(/\@/g,",") %>               
                  <% data[i].question = data[i].question.replace(/\$/g,"'") %>
                  <% data[i].question = data[i].question.replace(/\^/g,"’") %>               
                  <% data[i].question = data[i].question.replace(/\#/g,"`") %>
                    <p class="card-text font-weight-bold" style="font-size: 20px"><%= data[i].question %></p>
                  <% } %>
                  </div>
            </div>
         </div>
        <% } %>
    </div> 
</div>  
<%- include("partials/footer.ejs") %>