<%- include("partials/header.ejs") %>
<!-- <link rel="stylesheet" href="../../public/formstyles.css"> -->

    <style>
            .section-a{
                background: url('../../public/take-quiz1.png');
                background-size: cover;
                height: 300px;
                box-shadow: 0 0 20px 0 rgba(72,94,116,0.7);
                border-radius: 15px;
            }
            .section-b{            
                background: url('../../public/take-quiz2.png');
                background-size: cover;
                height: 300px;
                box-shadow: 0 0 20px 0 rgba(72,94,116,0.7);
                border-radius: 15px;
            }
            a{
                font-size: 20px;
            }
            a:hover{
                text-decoration-line: none;
                color:rgba(35, 165, 53, 0.801);
                transition: 0.3s;
            }
    </style>
            <div class="container">
                <h1 class="d-flex justify-content-center my-4"><%= title %></h1>
                <div class="jumbotron output animated pulse slow"  style="box-shadow: 0 0 20px 0 rgba(72,94,116,0.7); border-radius: 20px;">
                </div>
            </div>
    <script>
            $(document).ready(function(){
                let dates = `<%= output %>`;
                let id = `<%= id %>`;
                let description;
                    dates = dates.split(",");
                    let DDMY = new Array();
                    for(let i=0; i< dates.length; i++){
                        DDMY[i] = dates[i].split(" ");
                    }
                    
                    switch (id){
                        case "1":
                            for(let i=0; i< dates.length; i++){
                                $('.output').append(`
                                    <img src="../../public/right-arrow.png" alt="arrow"> 
                                    <a class="font-weight-bold mx-3" href="/past-questions/past-subject/?month=${DDMY[i][1]}&date=${DDMY[i][2]}&year=${DDMY[i][3]}">
                                        Static syllabus quizzes ${dates[i]}
                                    </a>
                                    <br>
                                    <hr class="my-4">
                                    `);
                            }
                            break;
                        case "2":
                            for(let i=0; i< dates.length; i++){
                                $('.output').append(`
                                    <img src="../../public/right-arrow.png" alt="arrow"> 
                                    <a class="font-weight-bold mx-3" href="/past-questions/past-current-affairs/?month=${DDMY[i][1]}&date=${DDMY[i][2]}&year=${DDMY[i][3]}">
                                        Current affairs quizzes ${dates[i]}
                                    </a>
                                    <br>
                                    <hr class="my-4">
                                    `);
                            }
                            break;
                        case "3":
                            for(let i=0; i< dates.length; i++){
                                $('.output').append(`
                                    <img src="../../public/right-arrow.png" alt="arrow"> 
                                    <a class="font-weight-bold mx-3" href="/past-questions/past-GS-subjective/?month=${DDMY[i][1]}&date=${DDMY[i][2]}&year=${DDMY[i][3]}">
                                        GS Mains questions ${dates[i]}
                                    </a>
                                    <br>
                                    <hr class="my-4">
                                    `);
                            }
                            break;
                        case "4":
                            for(let i=0; i< dates.length; i++){
                                $('.output').append(`
                                    <img src="../../public/right-arrow.png" alt="arrow"> 
                                    <a class="font-weight-bold mx-3" href="/past-questions/past-current-affairs-subjective/?month=${DDMY[i][1]}&date=${DDMY[i][2]}&year=${DDMY[i][3]}">
                                        Current Affairs ${dates[i]}
                                    </a>
                                    <br>
                                    <hr class="my-4">
                                    `);
                            }
                            break;   
                    }
            })
    </script>
<%- include("partials/footer.ejs") %>